{% extends "base.html" %}
{% load static %}
{% block title %}
  Личный кабинет
{% endblock %}
{% block content %}
  <style>
     @counter-style marker-status {
	system: cyclic;
	symbols: "🟢" "🟠" "🔴";
	suffix: " ";
}
.marker{
  align-items: center;
  justify-content: center;
	list-style-type: marker-status;
  height: 100px;
}
.marker li {
	font-size: 14px;
}
  .roundness {
  width: 195px; 
  height: 195px;
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
  left: 100px;
  visibility:visible;
  }
  .round {
    border-radius: 100%; 
    box-shadow: 0 0 1px #666; 
    align-items: center;
    display: flex;
    justify-content: center;
    visibility:visible;
  }
  .profile_image_wrap {
    background: #f9f8f8;
    border-radius: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-inline: auto;
    overflow: hidden;
    position: relative;
  }
  .sheet_button{
  width: 850px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(135, 206, 235);
  border: 1px solid rgb(51, 61, 100);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -470px;
  top: 640px;
}
.profile_info {
    width: 300px;
    height: 400px;
    box-shadow: 0 0 1px #666;
    text-align: center;
    background: hsl(233, 56%, 62%);
    -webkit-border-radius: 50px / 100px;
    -moz-border-radius: 50px / 100px;
    border-radius: 100px;
    position: relative;
    top: 100px;
    left: 50px;
}
.profile_button{
  width: 200px;
  height: 40px;
  text-decoration: none;
  border-radius: 50px;
  background-color: rgb(186, 186, 186);
  border: 1px solid rgb(51, 61, 100);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  top: -10px; 
  left: 100px;
}
.profile_edit_button{
  width: 200px;
  height: 40px;
  text-decoration: none;
  border-radius: 20px;
  background-color: rgb(135, 206, 235);
  border: 1px solid rgb(51, 61, 100);
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  top: 0px; 
  left: 100px;
}
img{
  max-width: 100%;
}
  </style>



<div class="col d-flex justify-content-center" style="width: 1600px; height: 800px;justify-content: center; display: flex">
    <div class="prof">
      <div class="roundness" >
        <img alt="logo" src="{% static 'img/aristo.png' %}"  class="profile_image_wrap">
      </div>
    
      <div class="profile_info">
        <b>@aristo</b><br>
        <b>ФИО:</b><br>
        <tr>Самый лучший челикс</tr><br>
        <b>Дата рождения:</b><br>
        <tr>01.01.0001</tr><br>
        <b>Электронная почта:</b><br>
        <tr>tirex@gg.ru</tr><br>
      </div>
    
    <button class="profile_button">
        Узнать больше...
    </button>
    <button class="profile_edit_button">
      <a href="{% url 'pages:edit_profile' %}" style="text-decoration: none;">Редактировать профиль</a>
    </button>
    </div>

<ul class="marker" style="position: relative; left: 300px;">
  <li>Запланированнные созвоны</li>
  <li>Действующие созвоны</li>
  <li>Завершённые созвоны</li>
</ul>
  
  <div class="card" style="width: 850px; height: 450px; position:relative; left: 100px; top: 150px"> 
    <div class="card-header">
      <div align="center">Запланированнные встречи</div>
    </div>
    <p style="font-size: 14px;">🟢 <b>12:00 - 12:30</b> >>> созвон по сборке петард из самогона дедушки <b>(@penis228)</b></p>
    <p style="font-size: 14px;">🟢 <b>12:30 - 13:00</b> >>> созвон по сборке похоронного гроба из Икеи <b>(@kriper2004)</b></p>
    <p style="font-size: 14px;">🟠 <b>13:00 - 13:30</b> >>> созвон по гойде <b>(@o4ko777)</b></p>
    <p style="font-size: 14px;">🟠 <b>13:00 - 14:00</b> >>> созвон для электрических чайников <b>(@deposit444)</b></p>
    <p style="font-size: 14px;">🔴 <b>14:00 - 14:30</b> >>> созвон разрабов FEM <b>(@aristo)</b></p>
  </div>
<button class="sheet_button">
  <a href="{% url 'pages:date_selection' %}" style="text-decoration: none; ">Указать расписание</a>
</button>
</div>
{% endblock %}  