{% extends "base.html" %}
{% load static %}
{% block title %}
  Личный кабинет
{% endblock %}
{% block content %}
  <style>
     @counter-style marker-status {
  system: cyclic;
  symbols: "🟢" "🟠" "🔴";
  suffix: " ";
}
.marker{
  align-items: center;
  justify-content: center;
  list-style-type: marker-status;
}
.marker li {
  font-size: 14px;
}
  .roundness {
  width: 195px; 
  height: 195px;
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 145px;
  left: 175px;
  visibility:visible;
  }
  .round {
    border-radius: 100%; 
    box-shadow: 0 0 1px #666; 
    align-items: center;
    display: flex;
    justify-content: center;
    visibility:visible;
  }
  .profile_image_wrap {
    background: #f9f8f8;
    border-radius: 100px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-inline: auto;
    overflow: hidden;
    position: absolute;
  }
  .sheet_button{
  width: 800px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(135, 206, 235);
  border: 1px solid rgb(51, 61, 100);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 600px;
  top: 700px;
}
.profile_info {
    width: 300px;
    height: 400px;
    box-shadow: 0 0 1px #666;
    text-align: center;
    background: hsl(233, 56%, 62%);
    -webkit-border-radius: 50px / 100px;
    -moz-border-radius: 50px / 100px;
    border-radius: 100px;
    position: absolute;
    top: 380px;
    left: 130px;
}
.profile_button{
  width: 200px;
  height: 40px;
  text-decoration: none;
  border-radius: 50px;
  background-color: rgb(186, 186, 186);
  border: 1px solid rgb(51, 61, 100);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top: 650px; 
  left: 180px;
}
.profile_edit_button{
  width: 200px;
  height: 40px;
  text-decoration: none;
  border-radius: 20px;
  background-color: rgb(135, 206, 235);
  border: 1px solid rgb(51, 61, 100);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top: 700px; 
  left: 180px;
}
img{
  max-width: 100%;
}
  </style>
  
 
  <div class="roundness" >
    {% if user.profile_picture %}
      <img alt="logo" src="{{ user.profile_picture.url }}"  height="100%" width="100%" class="profile_image_wrap">
    {% else %}
      <img src="{% static 'img/no_photo.png' %}" class="profile_image_wrap">
    {% endif %}
  </div>

  <div class="profile_info">
    <b>{{ user.username }}</b><br>
    <b>Дата рождения:</b><br>
    <tr>{{ user.date_of_birth }}</tr><br>
    <b>Электронная почта:</b><br>
    <tr>{{ user.email }}</tr><br>
  </div>

<button class="profile_button">
    Узнать больше...
</button>
<form action="{% url 'pages:edit_profile' user.username %}" target="_self">
  <button class="profile_edit_button">
  Редактировать профиль
</button>
</form>

  <div class="card" style="width: 50rem; height: 30rem; position:absolute; top: 200px; left: 600px"> 
    <div class="card-header">
      <div align="center">Запланированнные встречи</div>
    </div>
    <ul style="list-style-type: none; padding: 1; margin: 0;">
      {% for meeting in user_meetings %}
        <li>
          {% if meeting.status == "Завершено" %}
            🔴
          {% elif meeting.status == "Запланировано" %}
            🟢
          {% elif meeting.status == "Отменено" %}
            🟠
          {% endif %}
          {% if meeting.agenda|length > 10 %}
            {{ meeting.date_time }} - {{ meeting.agenda|slice:":10" }}... Организатор: 
            <a href="{% url 'pages:profile' meeting.host %}" style="text-decoration: none;"> {{ meeting.host }}</a>
            (Статус: {{ meeting.status }})
          {% else %}
            {{ meeting.date_time }} - {{ meeting.agenda }} Организатор:
            <a href="{% url 'pages:profile' meeting.host %}" style="text-decoration: none;"> {{ meeting.host }}</a>
            (Статус: {{ meeting.status }})
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
<form action="{% url 'pages:date_selection' %}" target="_self">
<button class="sheet_button">
  Указать расписание
</button>
</form>
<div class="col d-flex justify-content-center" style="width: 40rem; height: 55rem;"> </div>
{% endblock %}
