{% extends 'base.html' %}

{% block title %}Организация встречи{% endblock %}

{% block content %}
<style>
.meeting-container {
    max-width: 700px;
    min-height: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.meeting-header {
    background-color: #a6d6f7;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.meeting-title-input {
    font-size: 24px;
    background-color: #a6d6f7;
    border: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.meeting-content {
    padding: 20px;
}

.left-block {
    background-color: #e0f7ff;
    min-height: 520px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.agenda-block h3 {
    margin-bottom: 10px;
    color: #333;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

.btn-save {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.meeting-code {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}

/* Новый стиль для контейнера кнопки */
.button-container {
    background-color: #f9f9f9;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#generate-dates-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

#generate-dates-btn:hover {
    background-color: #45a049;
}
</style>

<div class="meeting-container">
    <form method="POST" enctype="multipart/form-data" class="meeting-create-form">
        {% csrf_token %}
        <div class="meeting-header">
            <h1> Создание встречи </h1>
        </div>
        <div class="meeting-content">
            <div class="left-block">
                <div class="form-group">
                    <label for="bio"><h3>Повестка встречи:</h3></label>
                    {{ form.agenda }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-save">Создать встречу</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
