{% extends "base.html" %}
{% block title %}
  Главная
{% endblock %}
{% block content %}
  <style>
.join_button{
  
  text-decoration: none;
  border-radius: 20px;
  background-color: rgb(135, 206, 235);
  border: 1px solid rgb(51, 61, 100);
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.main-header {
    padding: 20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}
.main-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 160px;
}

  </style>

<div class="main" style="max-width: 2000px; min-height: 700px; justify-content: center; display: block">
  <div class="main-header">
    <b style="font-size: 40px; left: 200px;">FEM - создай созвон вместе с Fast-Easy-Meet!!!</b><br><br>

    <class style="font-size: 30px; left: 450px">Выберите действие:</class><br><br>
    <div class="main-content">
        <button class="join_button" style="max-width: 300px; min-height: 100px; position: relative;">
          <a href="{% url 'pages:create_meeting' %}" style="text-decoration: none;">Присоединиться к встрече</a>
        </button>
        <button class="join_button" style="max-width: 300px; min-height: 100px; position: relative;">
          <a href="{% url 'pages:create_meeting' %}" style="text-decoration: none;">Организовать встречу</a>
        </button>
      </div>
  </div>
  </div>

  <script>
    document.querySelector('.profile_edit_button').addEventListener('click', function() {
        alert('Собака по кличке "Новость" наступила на мину. В итоге - новость разлетелась по всей деревне!');
    });
    </script>
    </div>
  

{% comment %} Лента записей
{% endblock %}
{% block content %}
<div style="text-align: center; margin-top: 50px;">
   <a href="{% url 'sign_up_meeting' %}" class="btn btn-primary btn-lg" role="button" style="margin: 10px; padding: 15px 30px;">Записаться на встречу</a>
  <a href="{% url 'create_meeting' %}" class="btn btn-secondary btn-lg" role="button" style="margin: 10px; padding: 15px 30px;">Создать встречу</a>
  <a href="{% url 'pages:index' %}" class="btn btn-primary btn-lg" role="button" style="margin: 10px; padding: 30px 30px;">Записаться на встречу</a>
  <a href="{% url 'pages:index' %}" class="btn btn-secondary btn-lg" role="button" style="margin: 10px; padding: 30px 30px;">Создать встречу</a>
</div> {% endcomment %}

{% endblock %}