{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          <b>Соблюдайте уважение и вежливость.</b> Относитесь к другим пользователям с уважением. Оскорбления и агрессивное поведение недопустимы. Стремитесь к конструктивному общению.
        </p>
        <p>
          <b>Следуйте инструкциям организаторов.</b> Если вы участвуете в конференции или обсуждении, слушайте и следуйте указаниям организаторов. Это поможет сохранить порядок и обеспечит более эффективное взаимодействие между участниками.
        </p>
      </div>
    </div>
  </div>
{% endblock %}